steps:
  - script: date /t
    displayName: Get the date
  - script: dir
    workingDirectory: $(Agent.BuildDirectory)
    displayName: List contents of a folder
  - script: |
      set MYVAR=foo
      set
    displayName: Set a variable and then display all
    env:
      aVarFromYaml: someValue
