[submodule "src/mkdocs-material"]
	path = src/mkdocs-material
	url = https://github.com/Mauwii/mkdocs-material
	branch = master
[submodule "src/opencensus-with-fastapi-and-azure-monitor"]
	path = src/opencensus-with-fastapi-and-azure-monitor
	url = https://github.com/Mauwii/opencensus-with-fastapi-and-azure-monitor.git
	branch = main
[submodule "src/DevOpsBuildAgent"]
	path = src/DevOpsBuildAgent
	url = ../DevOpsBuildAgent/
[submodule "src/msdocs-python-django-webapp-quickstart"]
	path = src/msdocs-python-django-webapp-quickstart
	url = https://github.com/Mauwii/msdocs-python-django-webapp-quickstart.git
	branch = main
