trigger:
  branches:
    include:
      - refs/heads/main
      - refs/heads/stable

pr: none

variables:
  - template: azure-pipelines/variables/default.yml
  - name: isMain
    value: $[ eq(variables['Build.SourceBranch'], 'refs/heads/main') ]
    readonly: true
  - name: isStable
    value: $[ eq(variables['Build.SourceBranch'], 'refs/heads/stable') ]
    readonly: true
  - name: isPullRequest
    value: $[ eq(variables['Build.Reason'], 'PullRequest') ]
    readonly: true

pool:
  vmImage: $(vmImageName)

stages:
  - stage:
    jobs:
      - template: azure-pipelines/jobs/bicep_jobs.yml
        parameters:
          bicepDir: '$(System.DefaultWorkingDirectory)/IaC/bicep/webApp-with-insights'
