name: 'azure-pipelines.yml'

trigger:
  batch: true
  branches:
    include:
      - refs/heads/main
      - refs/heads/stable
      - feature/*
      - issue/*
    exclude:
      - feature/experimental/*

pr:
  autoCancel: false
  branches:
    include:
      - main
      - stable

variables:
  - name: isMain
    value: $[ eq(variables['Build.SourceBranch'], 'refs/heads/main') ]
    readonly: true
  - name: isStable
    value: $[ eq(variables['Build.SourceBranch'], 'refs/heads/stable') ]
    readonly: true
  - name: isPullRequest
    value: $[ eq(variables['Build.Reason'], 'PullRequest') ]
    readonly: true
  - name: sourceBranchName
    value: $[ variables['Build.SourceBranchName'] ]
  - template: azure-pipelines/variables/default.yml
  - ${{ if in(variables['Build.SourceBranch'], 'refs/heads/main', 'refs/heads/stable') }}:
      - template: azure-pipelines/variables/${{ variables['Build.SourceBranchName'] }}.yml

pool:
  vmImage: $(vmImageName)

extends:
  template: azure-pipelines/main.yml
  - ${{ if in(variables['Build.SourceBranch'], 'refs/heads/main', 'refs/heads/stable') }}:
    parameters:
      mkdocsDeploy: ${{ True }}
