name: 'azure-pipelines.yml'

trigger:
  batch: true
  branches:
    include:
      - refs/heads/main
      - refs/heads/stable
      - feature/*
      - issue/*
    exclude:
      - feature/experimental/*

pr:
  branches:
    include:
      - main
      - stable

variables:
  - name: isMain
    value: $[ eq(variables['Build.SourceBranch'], 'refs/heads/main') ]
    readonly: true
  - name: isStable
    value: $[ eq(variables['Build.SourceBranch'], 'refs/heads/stable') ]
    readonly: true
  - name: isPullRequest
    value: $[ eq(variables['Build.Reason'], 'PullRequest') ]
    readonly: true
  - name: sourceBranchName
    value: $[ variables['Build.SourceBranchName'] ]
    readonly: true
  - template: azure-pipelines/variables/default.yml

pool:
  vmImage: $(vmImageName)

stages:
  - stage: bicep
    jobs:
      - template: azure-pipelines/jobs/bicep_jobs.yml
        parameters:
          bicepDir: '$(System.DefaultWorkingDirectory)/IaC/bicep/webApp-with-insights'
          # The following parameters default value is set like this: $(<parametername>) to reflect current variable
          # if you do/can not use a variable named like the parameter, just use the parameters as normal
          # resourceGroupName: '<Name of the ResourceGroup to use>'
          # azureSubscription: '<Name of the ARM-Service connection>'
          # location: '<location of the ResourceGroup>'

  - stage: mkdocs
    jobs:
      - template: azure-pipelines/jobs/mkdocs-material.yml
        parameters:
          mkdocsDeploy: ${{ eq(variables['Build.SourceBranch'], 'refs/heads/stable') }}
          # pythonVersion: '<Python Version to use when building MkDocs-Material>'
          # mkdocsSiteDir: '<folder to create the site by mkdocs>' - defaults to 'site'
