site_name: 'Azure-Pipelines with GitHub-Repo'
site_url: 'https://Mauwii.github.io/azure-pipelines-with-github-repo/'
dev_addr: '127.0.0.1:8000'
site_author: mauwii
site_description: >-
  Welcome to my Playground which I created to find out more about the
  possibilities when using a GitHub-Repo in Azure-DevOps to run YAML
  Files as Azure-Pipelines. Additionally Jira is used as Issue Tracker.

# Repository
repo_name: azure-pipelines-with-github-repo
repo_url: https://github.com/Mauwii/azure-pipelines-with-github-repo.git
edit_uri: edit/main/docs/

# Copyright
copyright: Copyright &copy; 2022 Matthias Wild

# Configuration
theme:
  name: null
  custom_dir: 'src/mkdocs-material/material'

  # 404 page
  static_templates:
    - 404.html

  # Necessary for search to work properly
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  features:
    - content.code.annotate
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    - navigation.expand
    - navigation.indexes
    # - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    # - toc.follow
    - toc.integrate
  palette:
    - media: '(prefers-color-scheme: light)'
      scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: 'assets/favicon.png'
  icon:
    logo: 'material/library'

# Customization
extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/mauwii
    - icon: fontawesome/brands/keybase
      link: https://keybase.io/mauwi
    - icon: material/email-fast
      link: mailto:mauwii@outlook.de

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: Mauwii
      repo: django_devops
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Plugins
plugins:
  - search
  - git-revision-date
