parameters:
  - name: pythonVersion
    displayName: Python Version to use when building MkDocs-Material
    type: string
    default: $(pythonVersion)
  - name: mkdocsSiteDir
    displayName: Name of the Directory where MkDocs will be built to
    type: string
    default: 'site'
  - name: mkdocsDeploy
    displayName: When disabled MkDocs will only be built
    type: boolean
    default: false
  - name: bicepDir
    displayName: Directory containing Folders with Bicep Templates
    type: string
    default: $(bicepDir)
  - name: bicepParameter
    displayName: Used in some templates to change Resource Name or other variables
    type: string
    values:
      - dev
      - stg
      - prod
    default: dev
  - name: resourceGroupName
    displayName: Name of the Resource Group where templates will be deployed to
    type: string
    default: $(resourceGroupName)
  - name: azureSubscription
    displayName: Name of the ARM-Service Connection
    type: string
    default: $(azureSubscription)
  - name: location
    displayName: Location where the Resources will be deployed to
    type: string
    default: $(location)
  - name: vmImage
    displayName: Image the Build Agent should use
    type: string
    values:
      - 'ubuntu-latest'
      - 'macOS-latest'
      - 'windows-latest'
  - name: agentpool
    displayName: Agent-Pool to be used
    values:
      - 'Azure Pipelines'
      - 'local'
    default: 'Azure Pipelines'

stages:
  - template: bicep_stage.yml
    parameters:
      bicepDir: ${{ parameters.bicepDir }}
      bicepParameter: ${{ parameters.bicepParameter }}
      resourceGroupName: ${{ parameters.resourceGroupName }}
      azureSubscription: ${{ parameters.azureSubscription }}
      location: ${{ parameters.location }}
      vmImage: ${{ parameters.vmImage }}
      agentpool: ${{ parameters.agentpool }}

  - template: mkdocs_stage.yml
    parameters:
      pythonVersion: ${{ parameters.pythonVersion }}
      mkdocsSiteDir: ${{ parameters.mkdocsSiteDir }}
      mkdocsDeploy: ${{ parameters.mkdocsDeploy }}
      vmImage: ${{ parameters.vmImage }}
      agentpool: ${{ parameters.agentpool }}
