parameters:
  - name: workingDirectory
    type: string
    default: $(System.DefaultWorkingDirectory)
  - name: parameters
    type: string
    default: ''

jobs:
  - job: lintBicep
    displayName: Lint Bicep File
    continueOnError: false
    steps:
      - script: az bicep build --file main.bicep ${{ parameters.parameters }}
        displayName: Run Bicep Linter
        name: LintBicepCode
        workingDirectory: ${{ parameters.workingDirectory }}

  - job: validateBicepCode
    continueOnError: false
    displayName: Validate Bicep code
    steps:
      - task: AzureCLI@2
        name: RunPreflightValidation
        displayName: Run preflight validation
        inputs:
          azureSubscription: $(azureSubscription)
          scriptType: bash
          scriptLocation: inlineScript
          workingDirectory: ${{ parameters.workingDirectory }}
          inlineScript: |
            az deployment group validate \
              --resource-group $(ResourceGroupName) \
              --template-file main.bicep ${{ parameters.parameters }}

  - job: previewAzureChanges
    displayName: Preview Azure changes
    continueOnError: false
    steps:
      - task: AzureCLI@2
        name: RunWhatIf
        displayName: Run what-if
        inputs:
          azureSubscription: $(azureSubscription)
          scriptType: bash
          scriptLocation: inlineScript
          workingDirectory: ${{ parameters.workingDirectory }}
          inlineScript: |
            az deployment group what-if \
              --resource-group $(ResourceGroupName) \
              --template-file main.bicep ${{ parameters.parameters }}

  - job: deployBicep
    dependsOn:
      - lintBicep
      - validateBicepCode
      - previewAzureChanges
    condition: and(succeeded(), eq(variables.isStable, 'True'))
    steps:
      - template: steps/deploy_bicep.yml
        parameters:
          workingDirectory: ${{ parameters.workingDirectory }}
          parameters: ${{ parameters.parameters }}
