parameters:
  - name: bicepDir
    type: string
    default: 'IaC/bicep/webApp-with-insights'
  - name: bicepParameter
    type: string
    default: dev
  - name: resourceGroupName
    type: string
    default: $(resourceGroupName)
  - name: azureSubscription
    type: string
    default: $(azureSubscription)
  - name: location
    type: string
    default: $(location)

jobs:
  - job: createResourceGroup
    dependsOn:
    steps:
      - template: steps/create_resourceGroup.yml
        parameters:
          resourceGroupName: ${{ parameters.resourceGroupName }}
          azureSubscription: ${{ parameters.azureSubscription }}
          location: ${{ parameters.location }}

  - job: lintBicep
    dependsOn: createResourceGroup
    displayName: Lint Bicep File
    continueOnError: false
    steps:
      - template: ${{ parameters.bicepDir }}/main.parameters.yml
      - script: az bicep build --file main.bicep
        displayName: Run Bicep Linter
        name: LintBicepCode
        workingDirectory: ${{ parameters.bicepDir }}

  - job: validateBicepCode
    dependsOn: createResourceGroup
    condition: or(eq(variables.isMain, 'True'), eq(variables.isStable, 'True'))
    continueOnError: false
    displayName: Validate Bicep code
    steps:
      - template: ${{ parameters.bicepDir }}/main.parameters.yml
      - task: AzureCLI@2
        name: RunPreflightValidation
        displayName: Run preflight validation
        inputs:
          azureSubscription: ${{ parameters.azureSubscription }}
          workingDirectory: ${{ parameters.bicepDir }}
          scriptType: bash
          scriptLocation: inlineScript
          inlineScript: |
            az deployment group validate \
              --resource-group ${{ parameters.resourceGroupName }} \
              --template-file main.bicep \
              --parameters @main.parameters.${{parameters.bicepParameter}}.json

  - job: previewAzureChanges
    dependsOn: createResourceGroup
    condition: or(eq(variables.isMain, 'True'), eq(variables.isStable, 'True'))
    displayName: Preview Azure changes
    continueOnError: false
    steps:
      - template: ${{ parameters.bicepDir }}/main.parameters.yml
      - task: AzureCLI@2
        name: RunWhatIf
        displayName: Run what-if
        inputs:
          azureSubscription: ${{ parameters.azureSubscription }}
          workingDirectory: ${{ parameters.bicepDir }}
          scriptType: bash
          scriptLocation: inlineScript
          inlineScript: |
            az deployment group what-if \
              --resource-group ${{ parameters.resourceGroupName }} \
              --template-file main.bicep \
              --parameters @main.parameters.${{parameters.bicepParameter}}.json

  - job: deployBicep
    dependsOn:
      - validateBicepCode
      - previewAzureChanges
    condition: and(succeeded(), or(eq(variables.isMain, 'True'), eq(variables.isStable, 'True')))
    steps:
      - template: ${{ parameters.bicepDir }}/main.parameters.yml
      - template: steps/deploy_bicep.yml
        parameters:
          bicepDir: ${{ parameters.bicepDir }}
          bicepParameter: ${{ parameters.bicepParameter }}
