parameters:
  - name: bicepDir
    type: string
    default: $(bicepDir)
  - name: bicepTemplateDir
    type: string
    default: $(bicepTemplateDir)
  - name: bicepParameter
    type: string
    default: $(bicepParameter)
  - name: resourceGroupName
    type: string
    default: $(resourceGroupName)
  - name: azureSubscription
    type: string
    default: $(azureSubscription)
  - name: location
    type: string
    default: $(location)

steps:
  - script: az bicep build --file main.bicep
    displayName: Run Bicep Linter
    name: LintBicepCode
    workingDirectory: $(bicepDir)/$(bicepTemplateDir)
  - template: create_resourceGroup.yml
    parameters:
      resourceGroupName: ${{ parameters.resourceGroupName }}
      azureSubscription: ${{ parameters.azureSubscription }}
      location: ${{ parameters.location }}
  - task: AzureCLI@2
    name: RunPreflightValidation
    condition: succeeded()
    displayName: Run preflight validation
    inputs:
      azureSubscription: ${{ parameters.azureSubscription }}
      workingDirectory: $(bicepDir)/$(bicepTemplateDir)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        [[ -e main.parameters.${{parameters.bicepParameter}}.json ]] \
          && bicepParameterFile="--parameters=@main.parameters.${{parameters.bicepParameter}}.json" \
          || [[ -e main.parameters.json ]] \
          && bicepParameterFile="--parameters=@main.parameters.json" \
          || echo "will try to use template without parameterfile"
        if [[ -e mg.${{parameters.bicepParameter}} ]]; then
          deploymentScope=mg
          deployTo="--management-group-id=$(cat mg.${{parameters.bicepParameter}})"
        else
          deploymentScope=group
          deployTo='--resource-group=${{ parameters.resourceGroupName }}'
        fi
        az deployment ${deploymentScope} validate \
          ${deployTo} \
          --template-file main.bicep ${bicepParameterFile}
  - task: AzureCLI@2
    name: RunWhatIf
    displayName: Run what-if
    inputs:
      azureSubscription: ${{ parameters.azureSubscription }}
      workingDirectory: $(bicepDir)/$(bicepTemplateDir)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        [[ -e main.parameters.${{parameters.bicepParameter}}.json ]] \
          && bicepParameterFile="--parameters=@main.parameters.${{parameters.bicepParameter}}.json" \
          || [[ -e main.parameters.json ]] \
          && bicepParameterFile="--parameters=@main.parameters.json" \
          || echo "will try to use template without parameterfile"
        if [[ -e mg.${{parameters.bicepParameter}} ]]; then
          deploymentScope=mg
          deployTo="--management-group-id=$(cat mg.${{parameters.bicepParameter}})"
        else
          deploymentScope=group
          deployTo='--resource-group=${{ parameters.resourceGroupName }}'
        fi
        az deployment ${deploymentScope} what-if \
          ${deployTo} \
          --template-file main.bicep ${bicepParameterFile}
  - task: AzureCLI@2
    name: DeployBicepFile
    condition: and(succeeded(), in('True', variables['isMain'], variables['isStable']))
    displayName: Deploy Bicep Template
    inputs:
      azureSubscription: ${{ parameters.azureSubscription }}
      scriptType: bash
      scriptLocation: inlineScript
      workingDirectory: $(bicepDir)/$(bicepTemplateDir)
      inlineScript: |
        [[ -e main.parameters.${{parameters.bicepParameter}}.json ]] \
          && bicepParameterFile="--parameters=@main.parameters.${{parameters.bicepParameter}}.json" \
          || [[ -e main.parameters.json ]] \
          && bicepParameterFile="--parameters=@main.parameters.json" \
          || echo "will try to use template without parameterfile"
        if [[ -e mg.${{parameters.bicepParameter}} ]]; then
          deploymentScope=mg
          deployTo="--management-group-id=$(cat mg.${{parameters.bicepParameter}})"
        else
          deploymentScope=group
          deployTo='--resource-group=${{ parameters.resourceGroupName }}'
        fi
        az deployment ${deploymentScope} create \
          --name $(Build.BuildNumber) \
          ${deployTo} \
          --template-file main.bicep ${bicepParameterFile}
