parameters:
  - name: matrix
    type: object
    default:
      - amd64:
        dockerdefaultplatformos: $(baseOS)
        dockerdefaultplatformarch: 'amd64'
        baseDistro: $(baseDistro)
        baseVersion: $(baseVersion)
        platformarch: 'x86_64'
        targetOS: $(baseOS)
        targetProc: 'x64'
      - arm64v8:
        dockerdefaultplatformos: $(baseOS)
        dockerdefaultplatformarch: 'arm64v8'
        baseDistro: $(baseDistro)
        baseVersion: $(baseVersion)
        platformarch: 'arm64'
        targetOS: $(baseOS)
        targetProc: 'x64'

steps:
  - ${{ each leg in parameters.matrix }}:
      - bash: |
          export TAG="${{ leg.dockerdefaultplatformos }}.${{ leg.baseDistro }}.${{ leg.baseVersion }}.${{ leg.dockerdefaultplatformarch }}.${{ leg.targetProc }}.dev"
          echo "##vso[task.setvariable variable=TAG]$TAG"
        displayName: 'set ${{ leg.dockerdefaultplatformarch }} tag'
      - bash: 'export'
        displayName: '${{ leg.dockerdefaultplatformarch }} debug export'
        env:
          ${{ each variable in leg }}:
            ${{ variable.key }}: ${{ variable.value }}
      - script: 'docker run --rm --privileged multiarch/qemu-user-static --reset -p yes'
        displayName: 'qemu for ${{ leg.dockerdefaultplatformarch }}'
      - task: Docker@2
        displayName: 'build ${{ leg.dockerdefaultplatformarch }}'
        inputs:
          containerRegistry: 'docker-mauwii'
          repository: 'mauwii/devopsbuildagent'
          command: 'build'
          Dockerfile: 'src/DevOpsBuildAgent/Dockerfile'
          tags: '$(TAG)'
          arguments: '--build-arg "BASEARCH=${{ leg.dockerdefaultplatformarch }}" --build-arg "targetproc=${{ leg.targetProc }}"'
      - task: Docker@2
        inputs:
          containerRegistry: 'docker-mauwii'
          repository: 'mauwii/devopsbuildagent'
          command: 'push'
          tags: '$(TAG)'
