trigger:
  batch: true
  branches:
    include:
      - feature/*
      - issue/*
  paths:
    include:
      - IaC/bicep/deploy
      - azure-pipelines/triggers/iac-bicep.yml

pr: none

variables:
  - template: ../variables/default.yml

pool:
  vmImage: $(vmImageName)

extends:
  template: ../bicep_stage.yml
  parameters:
    bicepDir: '$(bicepDir)'
    bicepParameter: '$(environment)'
    resourceGroupName: '$(resourceGroupName)'
    azureSubscription: '$(azureSubscription)'
    location: '$(location)'
