variables:
  - name: baseOS
    value: 'linux'
  - name: baseDistro
    value: 'ubuntu'
  - name: baseVersion
    value: '20.04'
  - name: dockerRegistry
    value: 'docker.io'
  - name: dockerhubuser
    value: 'mauwii'
  - name: dockerimage
    value: 'devopsbuildagent'

resources:
  repositories:
    - repository: DevOpsBuildAgent
      endpoint: Mauwii
      name: Mauwii/DevOpsBuildAgent
      trigger:
        - main

jobs:
  - job:
    strategy:
      matrix:
        amd64:
          dockerdefaultplatformos: 'linux'
          dockerdefaultplatformarch: 'amd64'
          platformarch: 'x86_64'
          targetOS: 'linux'
          targetproc: 'x64'
        arm64:
          dockerdefaultplatformos: 'linux'
          dockerdefaultplatformarch: 'arm64'
          platformarch: 'arm64'
          targetOS: 'linux'
          targetproc: 'x64'
    steps:
      - task: Bash@3
        inputs:
          targetType: 'inline'
          script: 'env'
      # - task: Docker@2
      #   inputs:
      #     containerRegistry: 'docker-mauwii'
      #     command: 'login'
      # - task: Docker@2
      #   inputs:
      #     containerRegistry: 'docker-mauwii'
      #     repository: 'mauwii/devopsbuildagent'
      #     command: 'build'
      #     Dockerfile: 'src/devopsbuildagent/Dockerfile'
      #     arguments: '--build-arg targetarch=$(targetOS)-$(targetproc)'
