strategy:
  matrix:
    amd64:
      dockerdefaultplatformarch: 'amd64'
      platformarch: 'x86_64'
      targetproc: 'x64'
    arm64:
      dockerdefaultplatformarch: 'arm64'
      platformarch: 'arm64'
      targetproc: 'x64'

variables:
  baseos: 'linux'
  baseDistro: 'ubuntu'
  baseVersion: '20.04'
  dockerRegistry: 'docker.io'
  dockerhubuser: 'mauwii'
  dockerimage: 'devopsbuildagent'

resources:
  repositories:
    - repository: DevOpsBuildAgent
      endpoint: Mauwii
      name: Mauwii/DevOpsBuildAgent
      trigger:
        - main

steps:
  - bash: env
