# resources:
#   repositories:
#     - repository: DevOpsBuildAgent
#       endpoint: Mauwii
#       name: Mauwii/DevOpsBuildAgent
#       trigger:
#         branches:
#           include:
#             - main

variables:
  - name: baseOS
    value: 'linux'
  - name: baseDistro
    value: 'ubuntu'
  - name: baseVersion
    value: '20.04'
  - name: dockerRegistry
    value: 'docker.io'
  - name: dockerhubuser
    value: 'mauwii'
  - name: dockerimage
    value: 'devopsbuildagent'

parameters:
  - name: matrix
    type: object
    default:
      amd64:
        dockerdefaultplatformos: $(baseOS)
        dockerdefaultplatformarch: 'amd64'
        platformarch: 'x86_64'
        targetOS: $(baseOS)
        targetproc: 'x64'
      arm64:
        dockerdefaultplatformos: $(baseOS)
        dockerdefaultplatformarch: 'arm64'
        platformarch: 'arm64'
        targetOS: $(baseOS)
        targetproc: 'x64'

steps:
  - ${{ each value in parameters.matrix }}:
      - task: Bash@3
        inputs:
          targetType: 'inline'
          script: 'env'
        env:
          dockerdefaultplatformos: ${{ value.dockerdefaultplatformos }}
          dockerdefaultplatformarch: ${{ value.dockerdefaultplatformarch }}
          platformarch: ${{ value.platformarch }}
          targetOS: ${{ value.targetOS }}
          targetproc: ${{ value.targetproc }}
  # - task: Docker@2
  #   inputs:
  #     containerRegistry: 'docker-mauwii'
  #     command: 'login'
  # - task: Docker@2
  #   inputs:
  #     containerRegistry: 'docker-mauwii'
  #     repository: 'mauwii/devopsbuildagent'
  #     command: 'build'
  #     Dockerfile: 'src/devopsbuildagent/Dockerfile'
  #     arguments: '--build-arg targetarch=$(targetOS)-$(targetproc)'
