trigger:
  branches:
    include:
      - refs/heads/main
      - update/*
      - feature/*
      - issue/*
  paths:
    include:
      - azure-pipelines/devopsbuildagent.yml
      - azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml
      - src/DevOpsBuildAgent

pr: none

variables:
  - name: baseOS
    value: 'linux'
  - name: baseDistro
    value: 'ubuntu'
  - name: baseVersion
    value: '20.04'
  - name: dockerRegistry
    value: 'docker.io'
  - name: dockerhubuser
    value: 'mauwii'
  - name: dockerimage
    value: 'devopsbuildagent'

parameters:
  - name: matrix
    type: object
    default:
      amd64:
        baseArch: 'amd64'
        targetProc: 'x64'
      arm64v8:
        baseArch: 'arm64v8'
        targetProc: 'arm64'
  - name: maxParallelJobs
    type: number
    default: 2

stages:
  # - stage: build
  #   jobs:
  #     - template: stages/jobs/build_devopsbuildagent_job.yml
  #       parameters:
  #         matrix: ${{ parameters.matrix }}
  #         maxParallelJobs: ${{ parameters.maxParallelJobs }}
  - stage: manifest
    # dependsOn: build
    jobs:
      - job:
        condition: succeeded()
        displayName: pushManifest
        steps:
          - task: Docker@2
            displayName: docker login
            inputs:
              containerRegistry: 'docker-mauwii'
              command: 'login'
          - bash: 'export archParameters=()'
            displayName: create archParameters variable
          - ${{ each arch in parameters.matrix }}:
              - bash: |
                  export archParameters+="$(dockerhubuser)/$(dockerimage):$(baseOS).$(baseDistro).$(baseVersion).${{ arch.baseArch }}.${DEVTAG:-$(Build.BuildId)}"
                displayName: 'add ${{ arch.baseArch }}'
                ${{ if not(eq(variables['Build.SourceBranch'], 'refs/heads/main')) }}:
                  env:
                    DEVTAG: 'dev'
          - bash: 'echo "${archParameters[@]}"'
            displayName: 'debug echo'
          - bash: 'export'
            displayName: 'debug export'
          # - bash: |
          #     docker manifest create "$(dockerhubuser)/$(dockerimage):${DEVTAG:-latest}" "$(dockerhubuser)/$(dockerimage):$(baseOS).$(baseDistro).$(baseVersion).amd64.${DEVTAG:-$(Build.BuildId)}" "$(dockerhubuser)/$(dockerimage):$(baseOS).$(baseDistro).$(baseVersion).arm64v8.${DEVTAG:-$(Build.BuildId)}"
          #     docker manifest annotate "$(dockerhubuser)/$(dockerimage):${DEVTAG:-latest}" "$(dockerhubuser)/$(dockerimage):$(baseOS).$(baseDistro).$(baseVersion).amd64.${DEVTAG:-$(Build.BuildId)}" --os linux --arch amd64
          #     docker manifest annotate "$(dockerhubuser)/$(dockerimage):${DEVTAG:-latest}" "$(dockerhubuser)/$(dockerimage):$(baseOS).$(baseDistro).$(baseVersion).arm64v8.${DEVTAG:-$(Build.BuildId)}" --os linux --arch arm64 --variant v8
          #     docker manifest push --purge "$(dockerhubuser)/$(dockerimage):${DEVTAG:-latest}"
          #   ${{ if not(eq(variables['Build.SourceBranch'], 'refs/heads/main')) }}:
          #     env:
          #       DEVTAG: 'dev'
