# resources:
#   repositories:
#     - repository: DevOpsBuildAgent
#       endpoint: Mauwii
#       name: Mauwii/DevOpsBuildAgent
#       trigger:
#         branches:
#           include:
#             - main

variables:
  - name: baseOS
    value: 'linux'
  - name: baseDistro
    value: 'ubuntu'
  - name: baseVersion
    value: '20.04'
  - name: dockerRegistry
    value: 'docker.io'
  - name: dockerhubuser
    value: 'mauwii'
  - name: dockerimage
    value: 'devopsbuildagent'

steps:
  - template: stages/jobs/steps/checkout_submodules.yml
    parameters:
      submodule: src/devopsbuildagent
  - task: Docker@2
    inputs:
      containerRegistry: 'docker-mauwii'
      command: 'login'
  - template: stages/jobs/steps/build_devopsbuildagent.yml
