trigger:
  paths:
    include:
      - docs
      - mkdocs.yml
      - azure-pipelines/mkdocs-material.yml
      - azure-pipelines/stages/jobs/steps/build_mkdocs.yml
      - scripts/deploy-mike.sh
      - src/requirements-mkdocs-material.txt
      - src/mkdocs-material

pr:
  - main

parameters:
  - name: pythonVersion
    displayName: Python Version to use when building MkDocs-Material
    type: string
    values:
      - '3.9'
      - '3.10'
    default: '3.10'
  - name: mkdocsSiteDir
    displayName: Name of the Directory where MkDocs will be built to
    type: string
    default: 'site'
  - name: agentpool
    displayName: Agent-Pool to be used
    values:
      - 'Azure Pipelines'
      - 'local'
    default: 'Azure Pipelines'

variables:
  - template: variables/default.yml

jobs:
  - job:
    displayName: MkDocs-Material
    pool:
      name: ${{ parameters.agentpool }}
    steps:
      - bash: 'export'
        displayName: 'debug export'
      - template: stages/jobs/steps/checkout_submodules.yml
        parameters:
          submodule: 'src/mkdocs-material'
          checkoutSelf: true
      - template: stages/jobs/steps/build_mkdocs.yml
        parameters:
          pythonVersion: '${{ parameters.pythonVersion }}'
          mkdocsSiteDir: '${{ parameters.mkdocsSiteDir }}'
      - task: Bash@3
        displayName: 'update gh-pages'
        inputs:
          targetType: filePath
          filePath: scripts/deploy-mike.sh
