trigger:
  paths:
    include:
      - azure-pipelines/playground.yml

pr: none

parameters:
  - name: just_a_test
    type: string
    values:
      - A
      - B
      - C

steps:
  - task: Bash@3
    displayName: Bash Task
    inputs:
      targetType: inline
      script: |
        export
    env:
      A_TEST_VAR: ${{ parameters['just_a_test'] }}
      ${{ if eq(parameters['just_a_test'], 'C') }}:
        ANOTHER_TEST_VAR: 'I am just another Testvariable'
