trigger:
  paths:
    include:
      - azure-pipelines/playground.yml

pr: none

parameters:
  - name: just_a_test
    type: string
    values:
      - A
      - B
      - C
    default: 'A'
  - name: another-parameter
    type: boolean
    default: false
  - name: optional
    type: string
    default: ''

variables:
  - group: playground_${{ parameters['just_a_test'] }}
  - name: another-variable
    value: ${{ parameters['another-parameter'] }}

steps:
  - task: Bash@3
    displayName: Bash Task
    inputs:
      targetType: inline
      script: |
        env
    env:
      variableGroupSecret: $(variableGroupSecret)
      ${{ if ne(parameters.optional, '') }}:
        optional: ${{ parameters.optional }}
