parameters:
  - name: pythonVersion
    displayName: Python Version to use when building MkDocs-Material
    type: string
    values:
      - '3.8'
      - '3.9'
      - '3.10'
    default: '3.9'
  - name: mkdocsSiteDir
    displayName: Name of the Directory where MkDocs will be built to
    type: string
    default: 'site'
  - name: mkdocsDeploy
    displayName: When disabled MkDocs will only be built
    type: boolean
    default: false
  - name: vmImage
    displayName: Image the Build Agent should use
    type: string
    values:
      - 'ubuntu-latest'
      - 'macOS-latest'
      - 'windows-latest'
    default: 'ubuntu-latest'
  - name: agentpool
    displayName: Agent-Pool to be used
    values:
      - 'Azure Pipelines'
      - 'local'
    default: 'Azure Pipelines'

resources:
  containers:
    - container: ubuntu1804
      image: ubuntu:18.04
  repositories:
    - repository: self
      endpoint: Mauwii
      batch: true
      trigger:
        branches:
          include:
            - feature/*
            - issue/*
        paths:
          include:
            - docs
            - mkdocs.yml
            - src/requirements-mkdocs-material.txt
            - azure-pipelines/mkdocs_stage.yml

variables:
  - template: variables/default.yml

stages:
  - template: stages/mkdocs_stage.yml
    parameters:
      pythonVersion: '${{ parameters.pythonVersion }}'
      mkdocsSiteDir: '${{ parameters.mkdocsSiteDir }}'
      mkdocsDeploy: '${{ parameters.mkdocsDeploy }}'
      vmImage: '${{ parameters.vmImage }}'
      agentpool: '${{ parameters.agentpool }}'
